body{
  height: 97vh;
  background-image: url(./images/lfz-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row1{
  height:20%;
}
.row2{
  height: 80%;
}
header{
  font-size: 1.8rem;
}
.aside-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats{
  flex-basis: calc(80%/7);
  background-color: lightblue;
  text-align: center;
  margin:6px;
}
.main-container{
  display: flex;
  height:100%;
}
main{
  display: flex;
  flex-wrap: wrap;
}
.card{
  background-image: url(../assets/images/lfz-card.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 30%;
  margin:2px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card-front, .card-back{
  height:100%;
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.card-back{
  background-image: url(../assets/images/lfz-card.jpg);
}
.js-logo{
  background-image: url(../assets/images/js-logo.png);
}
.css-logo{
  background-image: url(../assets/images/css-logo.png);
}
.docker-logo{
  background-image: url(../assets/images/docker-logo.jpg);
}
.gitHub-logo{
  background-image: url(../assets/images/gitHub-logo.png);
}
.html-logo{
  background-image: url(../assets/images/html-logo.png);
}
.mysql-logo{
  background-image: url(../assets/images/mysql-logo.jpg);
}
.node-logo{
  background-image: url(../assets/images/node-logo.png);
}
.php-logo{
  background-image: url(../assets/images/php-logo.jpeg);
}
.react-logo{
  background-image: url(../assets/images/react-logo.png);
}
.modal-overlay{
  position:fixed;
  width:100%;
  height:97vh;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-content{
  background-color: lightcyan;
  border: 5px solid lightskyblue;
  width: 30%;
  text-align: center;
}
.hidden{
  display:none;
}
